@page
@using NaturalDisasterInformationSystem.Models
@model NaturalDisasterInformationSystem.Pages.Areas.Admin.DetailModel
@{
    var user = ViewData["User"] as User;
    ViewData["Title"] = "Management Account";
    Layout = "~/Pages/Areas/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Chi tiết tài khoản</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-item">
                    <a asp-page="List">Quay lại</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin chi tiết tài khoản</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                             @*    <tr>
                                    <th>ID</th>
                                    <td>@Model.User.UserId</td>
                                </tr> *@
                                <tr>
                                    <th>Tên tài khoản</th>
                                    <td>@Model.User.Username</td>
                                </tr>
                                <tr>
                                    <th>Mật khẩu</th>
                                    <td>@Model.User.PasswordHash</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>@Model.User.Email</td>
                                </tr>
                                <tr>
                                    <th>Họ tên</th>
                                    <td>@Model.User.FullName</td>
                                </tr>
                                <tr>
                                    <th>Số điện thoại</th>
                                    <td>@Model.User.PhoneNumber</td>
                                </tr>
                                <tr>
                                    <th>Role</th>
                                    <td>@Model.User.Role.RoleName</td>
                                </tr>
                                <tr>
                                    <th>Trạng thái</th>
                                    <td>@Model.User.Active</td>
                                </tr>
                                <tr>
                                    <th>Ngày tạo</th>
                                    <td>@Model.User.CreatedAt</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>