@page
@model NaturalDisasterInformationSystem.Pages.Areas.Admin.ListModel
@using NaturalDisasterInformationSystem.Models
@{
    ViewData["Title"] = "Management Account";
    Layout = "~/Pages/Areas/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Quản lý tài khoản</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"></h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="basic-datatables"
                                   class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        @* <th>ID</th> *@
                                        <th>Tên tài khoản</th>
                                        <th>Họ tên</th>
                                        <th>Trạng thái</th>
                                        <th>Ngày tạo</th>
                                        <th></th>
                                    </tr>
                                </thead>
                           
                                <tbody>
                                    @foreach (var user in Model.Users)
                                    {
                                        <tr>
                                            @* <td>@user.UserId</td> *@
                                            <td>@user.Username</td>
                                            <td>@user.FullName</td>
                                            <td>@(user.Active.HasValue ? (user.Active.Value ? "Đang hoạt động" : "Cấm") : "Chưa xác định")</td>

                                            <td>@user.CreatedAt.Value.ToString("dd/MM/yyyy")</td>
                                            <td>
                                                <a asp-page="./Detail" asp-route-id="@user.UserId">Chi Tiết</a>
                                                <a asp-page="./Update" asp-route-id="@user.UserId">Cập Nhật</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- Import thư viện SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Hiển thị thông báo nếu có TempData -->
    @if (TempData["SuccessMessage"] != null)
    {
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Thành công!',
                text: 'Cập nhật thành công',
                timer: 3000,
                showConfirmButton: false
            });
        </script>
    }
}